/* Descendant selector*/
div p{
    color: blueviolet;
}
/*child selector*/
div > p{
    color: brown;
}
/*adjacent sibling selector*/
div + p{
    color: aqua;
}
/*general sibling selector*/
div ~ p{
    color: darkblue;
}
.static{

    position: static;
    right: 100px;
}
.relative{
    right: -150px;
    top: 200px;
    position: relative;
       
}
.absolute{
position: absolute;
left:200px;
}
.imageparent{
    position: relative;
}
.fixed{
    position:fixed;
    top:0;
    background-color: aqua;

}
.sticky{
    position: sticky;
    top=0;
    background-color:aqua;
}
.img{
    border-radius: 100px;
}
.bgclr{
    background-color: blueviolet;
}
ul{
    display: inline;
    color: aliceblue;
   
}
li{
    
    padding: 10px;
    margin:0;
    background-color: rgb(17, 26, 4);
   
}